# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# ===============================
# Virtual Environment
# ===============================
venv/
.env

# ===============================
# Flask
# ===============================
instance/
.flaskenv

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db
